<!DOCTYPE html>
<html>


<title> Banking System </title>

<style>

body
{
background-image:url('3.webp');
background-size:cover;
background-attachment : fixed;

}
.content
{
background:Black;
width: 50%;
padding: 40px;
margin: 100px auto;
}

</style>


<body>




<h1 style="font-size: 100px">  

<%= userName %> Basic Banking System  </h1>

<h3 style="font-size: 50px;" >
 Money Transfer </h3>


<p style="font-size: 30px;"> 
Choose customer </p>



</body>
</html>